body{
    margin: 0;
    background:#BF5322;  
    color:white; 
    font-family:sans-serif;
}

h1, h2, h3{
    font-family:serif;
}

h1#main_title{
    font-size:72px;
}

a{
    color:white;
}

ul{
    list-style:none;
}

svg{
    fill:white;
}

p{
    font-size:20px;
}

button{
    background:#333;
    color:white;
    font-size:20px;
}

header{
    height:100px;
}

main{
    text-align:center;
}

ul.faq li{
    background:white;
    color:black;
}

footer{
    background:linear-gradient(white, #BF5322);    
}