* {
    box-sizing:border-box;
}

body {
    margin: 0; 
    background:#BC511B;
    font-family:sans-serif;
}

ul {
    list-style:none;
    padding: 0;
    margin:0;
}

header {    
    position:fixed;
    top:0;
    left:0;
    right:0;
    padding:25px;
    display:flex;
    align-items: center;
}

header svg{
    height: 75px;
}

header button{
    margin-left:auto;
    display:none;
}

nav{
    padding:10px;
    position:fixed;

    display: flex;
    height: 100vh; /* 100vw for width */
    top: 0;

    flex-direction:column;
    justify-content:center;

    font-family:serif;
}

nav li{
    padding:15px 10px;
}

nav li.active::before{
    content:'►';
}

svg{
    fill:white;
}

main, nav, footer a{
    color:white;
}

main{
    text-align:center;
    padding:0 272px;
}

section{
    margin:300px 0;
}

section#main_section{ 
    margin-top:200px;   
    display:flex;
    flex-direction:column;
    align-items: center;
}

section#main_section p{
    width:75%;
}

section#about_section{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:60px;
}

section#about_section > div:first-of-type{
    display:flex;
    align-items: center;
}

section#about_section img{
    width:100%;
}

section#about_section .full-border{
    justify-content: flex-start;
}

section:not(#main_section) h1{
    text-align:center;
    font-size:64px;
    margin-bottom:20px;
}

#about_section h1{
    text-align:left!important;
}

h1, button{
    font-family:serif;
}

h1#main_title{
    font-size:102px;
    margin-bottom:0;
}

/* Special arrow beneath titles */
.border, .full-border{
    display:flex;
    justify-content: center;
}

.cap{
    width:15px;
    border-bottom:15px solid white;
    border-bottom-left-radius:100%;
    border-top-left-radius:100%;
}

.cap2{  
    border:7.5px solid white;
    border-left-color:transparent;
}

.body{
    width:40px;
    border-bottom:15px solid white;
}

.arrow{
    border:7.5px solid white;
    border-bottom-color:transparent;
    border-top-color:transparent;
    border-right-color:transparent;
}

.arrow2{
    width:15px;
    border-bottom:15px solid white;
    border-bottom-right-radius:100%;
    border-top-right-radius:100%;
}

/***********************/

p{
    font-size:24px;
    line-height:1.5;
}

button{
    background:#333;
    color:white;
    font-size:20px;
    padding:20px;
    width:260px;
    border:none;
}

button:hover{
    background:#777;
}

.columns_3{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:60px;
}

ul.faq li{
    background:white;
    color:black;
    padding:20px;
    margin:20px 0;    
}

ul.faq li, img{
    border-radius: 5px;
}

ul.faq li div::before{
    content:'►';
}

section:not(#main_section){
    text-align:left;
}

footer{
    padding:25px;
    background:linear-gradient(transparent,#BC511B);
    border-top:1px solid #999;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
} 

footer ul{
    display:flex;
}

footer ul li{
    padding:0 20px;
}

footer ul li a{
    text-decoration:none;
    font-weight: bold;
}